# =============================
# DATA FILES
# =============================
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# =============================
# VIRTUAL ENVIRONMENTS
# =============================
venv/
.venv/
env/
.env
# Keep .env.example in-repo

# =============================
# PYTHON COMPILED FILES / CACHES
# =============================
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
build/
dist/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
coverage.xml

# =============================
# JUPYTER NOTEBOOKS
# =============================
.ipynb_checkpoints/

# =============================
# ML ARTIFACTS
# =============================
models/
mlruns/
*.joblib
*.pkl

# =============================
# LOG FILES
# =============================
logs/
*.log

# =============================
# SYSTEM / MISC FILES
# =============================
.DS_Store
*.tmp
*.swp
*.bak

docs
docs/
docs/*